# C build artifacts



*.o
*.obj
*.out
*.dll
*.a

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so

# Python virtual environments
.env
.venv
env/
venv/
ENV/

# Python packaging & distribution
dist/
*.egg-info/
.eggs/

# OS specific files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*~

# Temporary/Log files
*.log
tempCodeRunnerFile.c
tempCodeRunnerFile.py

# Data files (descomente se não quiser versionar os arquivos grandes de entrada)
# *.json
# data/
